<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List Detail</title>
    </head>
    <body>
        <main>
            <main>
                <div class="delete-form">
                    <form method="post">
                        {% csrf_token %}
                        <h1>Are you sure you want to delete "{{ todolist.name }}"?</h1>
                        {{ form.as_p }}
                        <div>
                            <button class="button">Delete</button>
                        </div>
                    </form>
                </div>
            </main>
        </main>
    </body>
</html>
